@use '../../styles/functions' as *;

.container {
  $width: 100%;
  $max-w: rem(200);

  width: $width;
  height: $width;
  max-width: $max-w;
  max-height: $max-w;
  padding: rem(20);
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
  }

  .spinner {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: rem(16) solid;
    border-color: var(--c-grey) #fff0;
    animation: spin 1s infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(0.5turn);
    }
  }

  @media screen and (max-width: rem(576)) {
    padding: rem(40);

    .spinner {
      border: rem(14) solid;
      border-color: var(--c-grey) #fff0;
    }
  }

  @media screen and (max-width: rem(480)) {
    padding: rem(60);

    .spinner {
      border: rem(12) solid;
      border-color: var(--c-grey) #fff0;
    }
  }
}
