@use './functions' as *;

:root {
  // colors
  --c-white: #ffffff;
  --c-violet: #656ec2;
  --c-grey-dark: #282626;
  --c-grey: #767676;
  --c-green: #267504;
  --c-red: #820a0a;

  // shadows
  --c-shadow: #64646f33;
  --c-shadow-violet: rgba(101, 110, 194, 0.5);

  // fonts
  --ff-fallback: Arial, Helvetica, sans-serif;
  --ff-main: 'Fira Sans', var(--ff-fallback);
  --ff-sub: 'Montserrat', var(--ff-fallback);

  // effects
  --trans-dur: 0.3s;
}
