@use '../../styles/functions' as *;

.card-list {
  list-style: none;
  width: 100%;
  max-width: rem(1596);
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(190), 1fr));
  grid-auto-rows: rem(150);
  gap: rem(20);

  li {
    grid-column: span 2;

    &:nth-child(1),
    &:nth-child(2) {
      grid-column: span 3;
      grid-row: span 2;
    }
  }

  @media screen and (max-width: rem(1600)) {
    grid-template-columns: repeat(auto-fit, minmax(rem(160), 1fr));
  }

  @media screen and (max-width: rem(1440)) {
    grid-template-columns: repeat(auto-fit, minmax(rem(360), 1fr));

    li {
      grid-column: span 1;

      &:nth-child(1),
      &:nth-child(2) {
        grid-column: span 1;
      }
    }
  }

  @media screen and (max-width: rem(1024)) {
    grid-template-columns: 1fr;

    li:nth-child(1) {
      grid-row: span 2;
    }
    li:nth-child(2) {
      grid-row: span 1;
    }
  }

  @media screen and (max-width: rem(768)) {
    li:nth-child(1) {
      grid-row: span 1;
    }
  }

  @media screen and (max-width: rem(480)) {
    grid-auto-rows: rem(132);
  }
}
