@use './styles/functions' as *;

#root {
  width: 100%;
  height: 100%;
  background: var(--c-white);
  padding: rem(128) rem(162);
  display: flex;
  flex-direction: column;
  row-gap: rem(67);
}

.container {
  width: 100%;
  //
  height: 400px;
  background-color: rebeccapurple;
}

// #search::-webkit-search-cancel-button {
//   // background-color: rebeccapurple;
//   // margin-block: auto;
// }
