@use './styles/functions' as *;

#root {
  width: 100%;
  background: var(--c-white);
  padding: rem(128) rem(162);
  display: flex;
  flex-direction: column;
  row-gap: rem(67);

  @media screen and (max-width: rem(768)) {
    padding: rem(64);
  }

  @media screen and (max-width: rem(576)) {
    padding: rem(40) rem(32) rem(64);
    row-gap: rem(40);
  }

  @media screen and (max-width: rem(480)) {
    padding: rem(32) rem(26) rem(42);
    row-gap: rem(26);
  }
}
